{% extends 'base.html' %}

{% block content %}


<form action="/editdata/{{user.id}}" class="card container " method="POST">

        {% csrf_token %} 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{user.email}}">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username"
            value="{{user.username}}">
        </div>>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" value="{{user.password}}">
        </div>>
        </div>

        
        
        <button type="submit" class="btn btn-primary">update Data</button>
</form>

{% endblock %}